<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>4.列表排序</title>
    <style></style>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人員列表</h2>
        <input type="text" placeholder="請輸入名字" v-model='keyword'>
        <button @click='sortType = 2'>年齡升序</button>
        <button @click='sortType = 1'>年齡降序</button>
        <button @click='sortType = 0'>原順序</button>
        <ul>
            <li v-for='(p) of filPersons' :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
                <input type="text">
            </li>
        </ul>

        
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false

    
    
    new Vue({
        el: '#root',
        data: {
            keyword:'',
            sortType:0, //0代表原順序 1降序 2升序
            persons: [
                { id: '001', name: '馬冬梅', age: '55' ,sex:'女'},
                { id: '002', name: '周冬雨', age: '30' ,sex:'女'},
                { id: '003', name: '周杰倫', age: '48' ,sex:'男'},
                { id: '004', name: '溫兆倫', age: '66' ,sex:'男'},
            ],
            
        },
        computed: {
            filPersons(){
                const arr =  this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyword) !== -1
                })
                //判斷一下是否需要排序
                if(this.sortType){
                    arr.sort((p1,p2)=>{
                        return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age
                    })
                }
                return arr
            }
        }
        
    })  
</script>

</html>