<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title></title>
    <style></style>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <form>
            帳號:<input type="text" v-model='account'> <br><br>
            密碼:<input type="text" v-model='password'> <br><br>
            性別:
            男:<input type="radio" name='sex' v-model='sex' value='male'>
            女:<input type="radio" name='sex' v-model='sex' value='female'><br><br>
            愛好:
            學習<input type="checkbox" v-model='hobby' value='study'>
            打遊戲<input type="checkbox" v-model='hobby' value='game'>
            吃飯<input type="checkbox" v-model='hobby' value='eat'><br><br>
            所屬校區
            <select v-model='city'>
                <option value="">請選擇校區</option>
                <option value="yh">永和</option>
                <option value="zh">中和</option>
                <option value="bc">板橋</option>
                <option value="wh">萬華</option>
            </select><br><br>
            其他信息: <textarea v-model='other'></textarea><br><br>
            <input type="checkbox" v-model='agree'>閱讀並接受<a href="https://www.youtube.com/">《用戶協議》</a>
            <button>提交</button>

        </form>
    </div>
</body>
    
<script type="text/javascript">
    Vue.config.productionTip = false
    
   new Vue({
       el:'#root',
       data:{
           account:'',
           password:'',
           sex:'female',
           hobby:[],
           city:'',
           other:'',
           agree:'true'

       }
   })

</script>    
</html>