<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>姓名案例_計算屬性實現</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓: <input type="text" v-model='firstName'><br><br>
        名: <input type="text" v-model='lastName'><br><br>
        全名: <span>{{fullName}}</span>
        
    </div>
</body>
    
<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el:'#root',
        data:{
            firstName:'蔡',
            lastName:'庚瑾',
            fullName:'蔡-庚瑾'
        },
        watch:{
            firstName(val){
                setTimeout(() => {
                    this.fullName = val+'-'+this.lastName
                }, 1000);
            },
            lastName(val){
                this.fullName = this.firstName+'-'+val
            }
        }



        
    })

</script>    
</html>